* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1194px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 20px;
}

.auth {
  margin-left: auto;
}

.logo {
  margin-right: 76px;
}

.search-form {
  display: flex;
  max-width: 620px;
  border-radius: 10px;
  background: rgba(238, 238, 238, 0.71);
  flex-grow: 1;
  /* position: relative; */
}

.search-button {
  background-color: transparent;
  border: none;
  /* position: absolute;
  height: 100%;
  right: 0;
  top: 0; */
  padding-right: 18px;
  padding-left: 18px;
  cursor: pointer;
}

.search-icon {
  display: block;
}

.search-input {
  background-color: transparent;
  border: none;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.login {
  background: #ebebeb;
  border-radius: 50px;
  padding: 16px 30px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.shopping-cart {
  width: 49px;
  height: 49px;
  background: #f66a15;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  text-decoration: none;
  position: relative;
}

.shopping-counter {
  background: #ffaf19;
  border-radius: 50%;
  color: #000;
  position: absolute;
  top: 36px;
  left: 32px;
  padding: 5px;
  font-size: 8px;
  line-height: 9px;
}

.main__card {
  width: 100%;
  height: 399px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  color: #fff;
  padding: 76px 101px;
  margin-bottom: 50px;
}

.summer {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.43) 40.45%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(../img/summer.png) no-repeat center / cover;
}

.main__title {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 51px;
  margin-top: 0;
  margin-bottom: 15px;
}

.main__subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 32px;
}

.main__card_container {
  max-width: 390px;
}

.button {
  border-radius: 25px;
  padding: 13px 52px;
  text-decoration: none;
}

.main__card__button {
  background: #f47322;
  color: #fff;
}

.offers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
}

.offers__button {
  background: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #5f5f61;
}

.offers__card__header__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
}

.offers__card__header__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  max-width: 168px;
}

.offers {
  color: #fff;
}

.offers__card {
  width: 570px;
  height: 380px;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 36px 32px;
  border-radius: 20px;
}

.offers__card__footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.offers__card__footer__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-bottom: 8px;
}

.offers__card__footer__delivery-price {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 25px;
}

.sweet-basket {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.43) 40.45%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(../img/offer_1.png) no-repeat center / cover;
}

.min-efforts {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.43) 40.45%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(../img/offer_2.png) no-repeat center / cover;
}

.week-delivery__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}

.week-delivery__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  margin-bottom: 47px;
}

.week-delivery__card {
  position: relative;
  width: 275px;
  height: 182px;
  margin-bottom: 30px;
}

.week-delivery__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 18px;
}

.week-delivery__tag {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 21px;
  margin-left: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  border-radius: 30px;
  padding: 5px 10px;
}

.health {
  background: #d0fd89;
  color: #49494f;
}

.veg {
  background: #aebc41;
  color: #fff;
}

.meat {
  background: #b86b78;
  color: #fff;
}

.bird {
  background: #d68334;
  color: #fff;
}

.fish {
  background: #cd6255;
  color: #fff;
}

.for-kids {
  background: #fffdbf;
  color: #49494f;
}

.for-parents {
  background: #f6fdc8;
  color: #49494f;
}

.for-celebrates {
  background: #fef7fe;
  color: #49494f;
}

.food-categories {
  background: #f6f6f6;
  padding-bottom: 75px;
}

.food-categories__main-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  padding-top: 40px;
  margin-bottom: 50px;
}

.food-categories__tabs ul {
  display: flex;
  padding: 0;
  margin-bottom: 62px;
}

.food-categories__tabs ul li {
  list-style: none;
}

.food-categories__tab.active {
  color: #f37321;
}

.food-categories__tab {
  text-decoration: none;
  color: #49494f;
  margin-right: 50px;
}

.food-categories__cards {
  display: flex;
  margin-bottom: 62px;
  justify-content: space-between;
}

.food-categories__card {
  width: 270px;
  /* height: 471px; */
  border-radius: 20px;
  overflow: hidden;
  background: #ffffff;
}

.food-categories__img {
  height: 192px;
  width: 100%;
  object-fit: cover;
}

.food-categories__desc {
  margin-top: 21px;
  margin-left: 23px;
  margin-right: 27px;
  margin-bottom: 36px;
}

.food-categories__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  padding-top: 0;
  margin-bottom: 13px;
}

.food-categories__subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #b9b9be;
}

.food-categories__price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
}

.food-categories__price-left {
  display: flex;
  flex-direction: column;
  margin-left: 23px;
}

.food-categories__price-left .price {
  font-weight: 500;
  font-size: 23px;
  line-height: 23px;
  color: #4b4b51;
}

.food-categories__price-left .mass {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #aaaab1;
}

.to-basket {
  display: block;
  border: 2px solid #f37321;
  box-sizing: border-box;
  border-radius: 33px;
  background: transparent;
  width: 125px;
  height: 50px;
  margin-right: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f37321;
  cursor: pointer;
}

.food-categories__more-categoreis {
  display: block;
  text-align: center;
  margin-top: 78px;
}

.food-categories__more-categoreis a {
  width: 315px;
  height: 50px;
  border: 2px solid #f37321;
  box-sizing: border-box;
  border-radius: 33px;
  padding: 15px 105px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f37321;
  text-decoration: none;
}

.advantages {
  margin-bottom: 202px;
}

.advantages__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  margin-top: 100px;
  margin-bottom: 52px;
}

.advantages__cards {
  display: flex;
  justify-content: space-between;
}

.advantages__card {
  width: 270px;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  text-align: center;
}

.advantages__card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  max-width: 180px;
  margin: 0 auto;
}

.advantages__img {
  margin-top: 30px;
  margin-bottom: 34px;
}

.advantages__card__desc {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #49494f;
  display: block;
  margin: 0 auto;
  margin-top: 13px;
  margin-bottom: 25px;
  max-width: 223px;
}

.footer {
  background: #f6f6f6;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer .container {
  display: flex;
  align-items: center;
}

.footer__logo {
  margin-right: 50px;
}

.footer__contacts-left a {
  margin-right: 50px;
  color: #000000;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.footer__contacts-right a {
  text-decoration: none;
  margin-right: 20px;
}

.footer__contacts-right a:last-child {
  margin-right: 0;
}
